<!-- Blog Post -->

<!-- Title -->
<h1><%= @post.header %></h1>

<!-- Author -->
<p class="lead">
by <a href="#"><%= @post.author.formatted_name %></a>
</p>

<hr>

<p><span class="glyphicon glyphicon-time"></span> Posted on August 24, 2013 at 9:00 PM</p>

<hr>

<p class="lead"><%= @post.lead_paragraph %></p>

<% @post.content_paragraph_arr.each do |paragraph| %>
  <p><%= paragraph %></p>
<% end %>
